:root {
  --color-primary:#408af1;
  --color-dark-blue:#14213d;
  --color-black:#14213d;
  --color-light-grey:#f6f2ee;
  --shadow-dark:.5rem 1rem 1rem rgba(0,0,0,.8); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: Oswald sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 1rem; }

.text-box {
  margin-left: 20rem;
  margin-top: 10rem;
  margin-right: -4rem;
  width: 60%;
  padding: 2rem; }

.heading-primary {
  color: var(--color-black);
  font-size: 6rem;
  font-weight: 700;
  width: 75%;
  line-height: 1.5;
  margin-bottom: 3rem; }

.header-text {
  color: #fff;
  font-size: 2rem;
  width: 65%;
  margin-bottom: 5rem; }

.navigation-wrapper {
  background-color: var(--color-primary);
  padding: 1rem 0;
  position: sticky; }

.navigation {
  background-color: var(--color-primary);
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.logo-box {
  padding: .7rem 1rem; }

.logo {
  height: 5rem;
  width: 5rem; }

.list-box {
  margin: auto 0; }

.list {
  list-style: none; }
  .list__item {
    display: inline-block;
    padding: 0 2rem; }
  .list__link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    transition: all .2s; }
    .list__link:hover {
      color: var(--color-dark-blue); }
    .list__link--arrow:link, .list__link--arrow:visited {
      display: flex;
      align-items: center;
      justify-content: center; }
      .list__link--arrow:link::after, .list__link--arrow:visited::after {
        content: '';
        display: inline-block;
        height: 2rem;
        width: 2rem;
        background-color: #fff;
        mask-image: url(../../img/SVG/chevron-thin-down.svg);
        mask-size: cover;
        -webkit-mask-image: url(../../img/SVG/chevron-thin-down.svg);
        -webkit-mask-size: cover;
        transition: all .2s; }
    .list__link--arrow:hover::after {
      background-color: var(--color-dark-blue);
      transform: rotate(180deg); }

.dropdown {
  background-color: #fff;
  border-radius: 50px;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: none;
  position: relative;
  transition: all 1s; }
  .dropdown__item {
    list-style: none; }
  .dropdown__link {
    text-decoration: none;
    color: var(--color-black);
    font-size: 2rem; }
    .dropdown__link:not(:first-child) {
      padding-top: 1rem; }
    .dropdown__link:hover {
      color: var(--color-primary); }

.list__link--arrow:hover ~ .dropdown,
.list__link--arrow:checked ~ .dropdown {
  display: block;
  position: absolute; }

.buttons {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn,
.heading-btn {
  font-size: 2.2rem;
  padding: 1rem 1.8rem;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  cursor: pointer; }

.btn-login,
.heading-btn:link {
  background-color: #fff;
  color: var(--color-primary);
  margin-right: 1.8rem;
  box-shadow: var(--shadow-dark);
  transition: all .2s; }
  .btn-login:hover,
  .heading-btn:link:hover {
    box-shadow: none;
    transform: translateY(0.5rem) translateX(0.5rem); }

.btn-signup {
  background-color: var(--color-primary);
  color: #fff;
  margin-right: 1rem;
  border: 1px solid #fff;
  transition: all .2s; }
  .btn-signup:hover {
    color: var(--color-primary);
    background-color: #fff; }

.heading-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  color: var(--color-primary);
  margin-right: 1.8rem;
  box-shadow: var(--shadow-dark);
  transition: all .2s; }

.heading-btn:hover {
  box-shadow: none;
  transform: translateY(0.5rem) translateX(0.5rem); }

.header {
  padding: 5rem 0;
  background: var(--color-primary);
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem;
  overflow: hidden;
  display: flex; }

.header-image-box {
  margin-right: 40rem; }

.header-image {
  height: 50rem;
  width: auto; }
