.buttons{
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttons-box {

}

.btn,
.heading-btn {
    
    font-size: 2.2rem;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    cursor: pointer;

}

.btn-login,
.heading-btn:link {
    background-color: #fff;
    color: var(--color-primary);
    margin-right: 1.8rem;
    box-shadow: var(--shadow-dark);
    transition: all .2s;

    &:hover
     {
        box-shadow: none;
        transform: translateY(.5rem) translateX(.5rem);
    }
}

.btn-signup {
    background-color:var(--color-primary);
    color: #fff;
    margin-right: 1rem;
    border: 1px solid #fff;
    transition: all .2s;
    &:hover {
        color: var(--color-primary);
        background-color: #fff;
    }

}

.heading-btn {
    display: inline-block;
    text-decoration: none; 
    background-color: #fff;
    color: var(--color-primary);
    margin-right: 1.8rem;
    box-shadow: var(--shadow-dark);
    transition: all .2s;
}

.heading-btn:hover {
    box-shadow: none;
    transform: translateY(.5rem) translateX(.5rem);
}

.services-btn {
    background-color: var(--color-primary);
    color: #fff;
}
.writer-btn {
    display: flex;
    width: 40%;
    margin-left: auto;
    justify-content: center;
}