.navigation-wrapper {
    background-color: var(--color-primary);
    padding: 1rem 0;
    position: sticky;
}

.navigation {
    background-color:var(--color-primary);
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.logo-box {
    padding: .7rem 1rem;

}

.logo {
    height: 5rem;
    width: 5rem;
}

.list-box {
    margin: auto 0;
}

.list {
    list-style: none;

    &__item {
        display: inline-block;
        padding: 0 2rem;

    }

    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        text-transform: capitalize;
        transition: all .2s;

        &:hover {

            color: var(--color-dark-blue);

        }

        &--arrow:link,
        &--arrow:visited {
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: '';
                display: inline-block;
                height: 2rem;
                width: 2rem;
                background-color: #fff;
                //background-image: url(../../img/arrow-down-svgrepo-com.svg);
                mask-image:url(../../img/SVG/chevron-thin-down.svg);
                mask-size:cover;
                -webkit-mask-image: url(../../img/SVG/chevron-thin-down.svg);
                -webkit-mask-size: cover;
                transition: all .2s;
            }
            
        }

        &--arrow:hover::after {
            background-color: var(--color-dark-blue);
            transform: rotate(180deg);
        }
    }

}

.dropdown {
    background-color: #fff;
    border-radius: 50px;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: none;
    position: relative;
    transition: all 1s;


    &__item {
        list-style: none;

    }

    &__link {
        text-decoration: none;
        color:var(--color-black) ;
        font-size: 2rem;

        &:not(:first-child) {
            padding-top: 1rem;
        }

        &:hover {
            color: var(--color-primary);
        }
    }
}

.list__link--arrow:hover ~ .dropdown,
.list__link--arrow:checked ~ .dropdown{
    display: block;
    position: absolute;
    
}

