.section-writer {
    background-color: var(--color-light-grey);
    height: fit-content !important;
    padding: 4rem;
    border-radius: 1rem;

}

.writer-row {
    display: flex;
    padding: 2rem;
}

.writer-pic-box {
    height: 11rem;
    width: 11rem;
    display: inline-block;    
    background-image: url(../../img/circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.writer-pic {
    height: 8rem;
    width: 7.5rem;
    border-radius: 50%;
    
}
.writer-info {
    margin-left: 3rem;
    width: 60%;
}
.writer__star-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.writer__star-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: var(--color-black);
}
.writer__star-num {
    margin-left: 0rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.writer__star {
    vertical-align: middle;
}

.wrtier__details {
    display: flex;
    justify-content: space-between;
}
.writer__details-1 {
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.writer__details-num {
    margin-left: 1rem;
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 700;
}
.writer__details-text {
    color: var(--color-grey);
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: -1rem;
}
.writer__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    padding: 0 2rem 2rem 2rem;
    border-bottom: 2px solid var(--color-primary);

}
.writer__tag {
    display: inline-block;
    margin-top: .5rem;
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #fff;
    font-size: 1.2rem;
}
.writer__review {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem; 
    margin-top: 3rem;
}
.writer__content {
    margin-top: 2rem;
}
.writer__title {
    margin-bottom: .5rem;
    line-height: 120%;
    font-weight: 700;
    font-size: 1.7rem;
}
.writer__paper{
    margin-bottom: .5rem;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
}
.writers__review-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
}
.section-writer:hover > .writer__tags > .writer__tag {
    background-color: var(--color-primary);
}
