main {
    display: flex;
    flex-direction: column;
}

.section-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-grey);
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    padding: 10rem 0 15rem 0;
    margin-top: -10rem;
}

.section-reviews {
    background-color: #fff;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    padding: 10rem 0 15rem 0;
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

