.header {
    padding: 5rem 0;
    background: var(--color-primary);
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    overflow: hidden;
    display: flex;
}

.header-image-box {


}

.header-image {
    height: 50rem;
    width: auto;

}